<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-8">
        <img src="http://placehold.it/800x500" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <h3 class="product-title"><%= @product.title %></h3>
        <p class="product-description"><%= @product.description %></p>
        <h4 class="price">Price: <span><%= number_to_currency(@product.price) %></span></h4>
        <div class="actions">
          <%= form_tag buy_path(id: @product.id) do %>
            <script src="https://checkout.stripe.com/v2/checkout.js"
              class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= @product.title %>"
              data-amount="<%= (@product.price * 100).to_i %>"></script>
              <%= link_to 'Back', :back, class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
